.loading-container {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-circle {
    position: absolute;
    border-radius: 50%;
    width: 2rem;
    animation: 1.2s linear infinite spinner;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }